body {
  margin: 0px auto 0px auto;
  width: 75%;

  background-color: #fffafa;
}

h4 {
  font-family: "Roboto", Arial, sans-serif;
  color: #008080;
}

section {
  padding-left: 40px;
}
h1 {
  font-family: "Montserrat";
  font-size: 30px;
}
p {
  font-family: "Open Sans", Arial, sans-serif;
  font-type
}
