$color-Home1: #ff6666;

$color-Home2: #853b3b;

$color-Home3: #5e2121;

$color-Icon1: rgb(250, 46, 46);

$color-shadowIcon: rgba(0, 0, 0, 0.25);

$color-txt: rgba(255, 255, 255, 0.795);

$black-color: rgba(0, 0, 0, .8);

$white-color: rgb(255, 255, 255);

$yellor-stars: rgb(255, 187, 0);

$bg-blog: #ffafde;

$bg-section1: rgb(254, 213, 220);