html,
body {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Philosopher';
}

.myNavbar {
  background-color: $color-Home3;
  height: 5rem;
  padding: 0;
  z-index: 1;



  .font-logo {
    font-family: 'Lobster Two', cursive;
  }



  #blog-services {
    font-size: .8rem;
  }
}



.home-aling {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $bg-section1;
  margin: 0;
  padding: 0;

  // || INICIO  || INICIO  || INICIO  || INICIO  || INICIO  

  .inicio-Empresa {
    display: flex;
    justify-content: center;
    height: auto;
    background-image: linear-gradient(0deg, #ff6666, #fed5dc);
    margin: 10% 0 0 0;
    padding-bottom: 5%;






    .sobre-Empresa {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .titulo-apresentacao {
        color: $color-Home2;
        font-weight: 400;
        text-transform: uppercase;
        text-shadow: 2px 2px 3px $black-color;
      }


      .look-img1 {
        margin: 5% auto 0 auto;
        background-color: $color-Home2;


        .img1-home {
          box-shadow: 1px 1px 8px $color-txt;
          border-radius: .5rem;
          width: 18rem;
          transition: .3s;
        }

        .txt1-home {
          color: #ffffff;
          max-width: 40rem;
          line-height: 3rem;
          font-size: 1.2em;
          transition: .3s;
        }
      }

      .look-img2 {
        margin: 7% auto 0 auto;
        background-color: $color-Home2;


        .txt2-home {
          color: #ffffff;
          max-width: 40rem;
          line-height: 3rem;
          font-size: 1.2em;
          transition: .3s;


        }

        .img2-home {
          box-shadow: 1px 1px 8px $color-txt;
          border-radius: .5rem;
          width: 25rem;
          transition: .3s;


        }
      }
    }

  }

  // || CARDS || CARDS || CARDS || CARDS || CARDS || CARDS || CARDS 

  .containerCards-center {


    gap: 1rem;
    padding: 3rem;
    background-color: $color-Home1;

    .titulo-cards {


      // background-image: (url(../../img/Esboço\ de\ sacos\ elegantes\ de\ mulher\ sem\ costura\ _\ Vetor\ Grátis\ \(1\).jpg));

    }

    .titulo-BgOpacity {
      //background-color: $color-shadowIcon;

      .titulo-cardsText {
        color: $bg-section1;
        font-weight: 400;
        text-transform: uppercase;
        text-shadow: 2px 2px 3px $black-color;
      }

    }


    .card-Pai {

      width: 18rem;
      background-color: $color-Home2;
      color: $white-color;
      border-radius: 1rem;

      .title-myCard {
        text-align: center;
      }


    }


    // .myBnt-cards {}
  }

  // || CARROSSEL  || CARROSSEL  || CARROSSEL || CARROSSEL || CARROSSEL

  .myContainer1 {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(0deg, #fed5dc, #ff6666);
    color: $white-color;

    .box-Balao1 {
      padding: 1rem;
      border-radius: 1rem;
      max-width: 18rem;
      max-height: 18rem;
      background-color: $color-Home2;
      text-align: center;

      .icon-container {
        padding: 1rem;

        #icon-cardCarousel-1 {
          width: 4em;
          height: 4em;
        }

        [class*="eicon-"] {
          content: '';
          display: block;
          width: 3em;
          height: 3em;
          background-repeat: no-repeat;
          background-size: contain;
          -webkit-background-size: contain;


        }



      }
    }





    .Meu-Carrossel {
      background-image: linear-gradient(45deg, #5e2121, rgba(0, 0, 0, 0.8));
      display: flex;
      height: 20em;

      .myImg-1 {
        background-image: url(../../img/look-home-3.jfif);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }


      .myImg-2 {
        background-image: url(../../img/look-home-4.jfif);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

      }

      .myImg-3 {
        background-image: url(../../img/look-home-5.jfif);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

      }
    }


    .box-Balao2 {
      padding: 1rem;
      border-radius: 1rem;
      max-width: 18rem;
      max-height: 18rem;
      background-color: $color-Home2;
      text-align: center;

      .icon-container2 {
        padding: 1rem;

        [class*="eicon-"] {
          content: '';
          display: block;
          width: 2rem;
          height: 2rem;
          background-repeat: no-repeat;
          background-size: contain;
          -webkit-background-size: contain;

        }


      }

    }


  }

  // || IDEAIS || IDEAIS || IDEAIS || IDEAIS || IDEAIS || IDEAIS

  .my-Container2 {
    background: #fed5dc;
    font-size: 1.5em;




    [class*="eicon-"] {
      content: '';
      display: block;
      width: 3em;
      height: 3em;
      background-repeat: no-repeat;
      background-size: contain;
      -webkit-background-size: contain;


    }

  }

  // || CONTATOS || CONTATOS || CONTATOS || CONTATOS || CONTATOS

  .my-Container3 {

    .barra-contatos {
      background-color: $color-Home3;
      color: #ffffff;

    }

    #eicon {
      margin: 0.2em .5em 0 .5em;
      width: 1.2em;
      height: 1.2em;
    }

    [class*="eicon-"] {
      content: '';
      display: block;
      width: 3em;
      height: 3em;
      background-repeat: no-repeat;
      background-size: contain;
      -webkit-background-size: contain;


    }

    .referencias {
      font-size: .7em;
    }





  }


}

@media screen and (max-width: 575px) {

  header {
    .myNavbar {
      .mine_menu {
        margin-top: 1rem;
        background-image: linear-gradient(45deg, $color-Home3, $color-shadowIcon);
        border-radius: 1rem;

        .alinhando_FaqMineMenu {

          margin: 2rem 0 0 auto !important;
        }

        ul {
          width: auto !important;
          padding-left: 2rem !important;

          li {
            width: auto !important;
            padding: 0 !important;

            a {
              width: auto !important;
              margin: 0rem 1rem 0rem auto !important;
            }
          }
        }
      }
    }
  }


  .home-aling {
    .inicio-Empresa {
      margin: 25% 0 0 0;
      padding: 0;

      .sobre-Empresa {
        width: 100%;

        flex-wrap: wrap;

        .look-img1 {
          .img1-home {
            width: 90%;
          }
        }

        .look-img2 {
          padding: 0;

          .img2-home {
            width: 90%;
          }

        }
      }
    }
  }

  .myContainer1 {
    .carousel {
      margin: 10% 0 10% 0 !important;
      width: 100% !important;
    }
  }

  .my-Container3 {

    .alinhando_ContainerContatos {
      #alinhament-areaContatos {
        padding-left: 0 !important;
      }
    }

  }
}